In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# Path and filename for the file to Load
file = "Output/updatedbooks.csv"

# Read the modified GoodReads csv and store into Pandas DataFrame
file_df = pd.read_csv(file)
File1_df = pd.DataFrame(file_df)
File1_df

,ISBN,Authors,Publication Year,Original Title,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,Suzanne Collins,2008.0,The Hunger Games,66715,127936,560092,1481305,2706317
1,439554934,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,75504,101676,455024,1156318,3011543
2,316015849,Stephenie Meyer,2005.0,Twilight,456191,436802,793319,875073,1355439
3,61120081,Harper Lee,1960.0,To Kill a Mockingbird,60427,117415,446835,1001952,1714267
4,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...
9995,441019455,Ilona Andrews,2010.0,Bayou Moon,105,575,3538,7860,6778
9996,067973371X,Robert A. Caro,1990.0,Means of Ascent,303,551,1737,3389,6972
9997,039330762X,Patrick O'Brian,1977.0,The Mauritius Command,11,111,1191,4240,5180
9998,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,275,1002,3765,4577,2375
9999,375700455,John Keegan,1998.0,The First World War,117,345,2031,4138,3069

In [4]:
# Calculate the number of unique authors in the DataFrame

File1_df["Authors"].value_counts()

# Calculate the earliest/latest year a book was published

Max = File1_df["Publication Year"].max()
Max
Min = File1_df["Publication Year"].min()
Min
# Calculate the total reviews column that contains the sum of reviews for each row
# Hint: use the pandas' sum(axis='columns') to get the sum across the columns 
total_reviews = File1_df.sum(axis=1)
total_reviews

0       4944373.0
1       4802062.0
2       3918829.0
3       3342856.0
4       2775670.0
          ...
9995      20866.0
9996      14942.0
9997      12710.0
9998      14005.0
9999      11698.0
Length: 10000, dtype: float64

In [5]:
# Create a `total_reviews` variable that sums up the values from your new `Total Reviews` column in the DataFrame
File1_df["Review Score"] = total_reviews
File1_df.head()

,ISBN,Authors,Publication Year,Original Title,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews,Review Score
0,439023483,Suzanne Collins,2008.0,The Hunger Games,66715,127936,560092,1481305,2706317,4944373.0
1,439554934,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,75504,101676,455024,1156318,3011543,4802062.0
2,316015849,Stephenie Meyer,2005.0,Twilight,456191,436802,793319,875073,1355439,3918829.0
3,61120081,Harper Lee,1960.0,To Kill a Mockingbird,60427,117415,446835,1001952,1714267,3342856.0
4,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,86236,197621,606158,936012,947718,2775670.0

In [6]:
# Place all of the data found into a summary DataFrame
File1_df.describe()

# Show the DataFrame
File1_df

,ISBN,Authors,Publication Year,Original Title,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews,Review Score
0,439023483,Suzanne Collins,2008.0,The Hunger Games,66715,127936,560092,1481305,2706317,4944373.0
1,439554934,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,75504,101676,455024,1156318,3011543,4802062.0
2,316015849,Stephenie Meyer,2005.0,Twilight,456191,436802,793319,875073,1355439,3918829.0
3,61120081,Harper Lee,1960.0,To Kill a Mockingbird,60427,117415,446835,1001952,1714267,3342856.0
4,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,86236,197621,606158,936012,947718,2775670.0
...,...,...,...,...,...,...,...,...,...,...
9995,441019455,Ilona Andrews,2010.0,Bayou Moon,105,575,3538,7860,6778,20866.0
9996,067973371X,Robert A. Caro,1990.0,Means of Ascent,303,551,1737,3389,6972,14942.0
9997,039330762X,Patrick O'Brian,1977.0,The Mauritius Command,11,111,1191,4240,5180,12710.0
9998,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,275,1002,3765,4577,2375,14005.0
9999,375700455,John Keegan,1998.0,The First World War,117,345,2031,4138,3069,11698.0